.header {
  display: flex;
  justify-content: flex-end;
  padding: 1%;
}

.cadastre {
  height: 64px;
}

.centerBuddy {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  width: 90%;
  text-align: center;
  font: 900 4.5vw/5vw Poppins;
  letter-spacing: -0.49px;
  color: #1E1C24;
  opacity: 1;
  margin: 1%;
}

.subtitle {
  width: 70%;
  text-align: center;
  font: bold 1.3vw/2vw Muli;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin: 1% 0 2%;
}

.input {
  width: 45%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #00000061;
  border-radius: 100px;
  opacity: 1;
  margin: 0.5%;
  padding:30px;
  flex: 1;
  border: none;
  background: transparent;
  color: #1e1c24d9;
}

.login {
  margin: 15% 0 25%;
}

.endbuddy {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: transparent linear-gradient(180deg, #01f0b03d 0%, #a540fd4b 100%) 0% 0% no-repeat padding-box;
}

.prepare {
  width: 70%;
  text-align: center;
  font: normal normal bold 3vw/4vw Poppins;
  letter-spacing: 0px;
  color: #A440FC;
  opacity: 1;
  margin-top: 80px;
}

.block {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.plataformaInterativa {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 24%;
  height: 364px;
  background: #01F0B1 0% 0% no-repeat padding-box;
  border-radius: 11px;
  opacity: 1;
  margin: 2%;
}

.plataformaInterativaTitle {
  width: 70%;
  height: 25%;
  text-align: center;
  font: normal normal 800 2vw/2.5vw Poppins;
  letter-spacing: 0px;
  color: #616064;
  opacity: 1;
  margin: 4%;
  max-width: 70%;
}

.plataformaInterativaText {
  width: 70vw;
  text-align: center;
  font: normal normal bold 1.1vw/1.6vw Muli;
  letter-spacing: 0px;
  color: #616064;
  opacity: 1;
  max-width: 70%;
}

.aguardeOMatch {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 24%;
  height: 364px;
  background: #A440FC 0% 0% no-repeat padding-box;
  border-radius: 11px;
  opacity: 1;
  margin: 2%;
}

.aguardeOMatchTitle {
  width: 70vw;
  height: 25%;
  text-align: center;
  font: normal normal 800 2vw/2.5vw Poppins;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  margin: 4%;
  max-width: 70%;
}

.aguardeOMatchText {
  width: 70vw;
  text-align: center;
  font: normal normal bold 1.1vw/1.6vw Muli;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  max-width: 70%;
}

.mentorias {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  height: 364px;
  background: #FAEC21 0% 0% no-repeat padding-box;
  border-radius: 11px;
  opacity: 1;
  margin: 2%;
}

.mentoriasTitle {
  width: 70vw;
  height: 25%;
  text-align: center;
  font: normal normal 800 2vw/2.5vw Poppins;
  letter-spacing: 0px;
  color: #1E1C24;
  opacity: 1;
  margin: 4%;
  max-width: 70%;
}

.mentoriasText {
  width: 70vw;
  text-align: center;
  font: normal normal bold 1.1vw/1.6vw Muli;
  letter-spacing: 0px;
  color: #1E1C24;
  opacity: 1;
  max-width: 70%;
}

.comece {
  margin: 30% 0;
}

@media screen and (max-width: 800px) {

  .header {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1%;
  }

  .cadastre {
    margin: 3% 0;
  }

  .title {
    font: 900 6.5vw/7vw Poppins;
  }

  .subtitle {
    width: 90%;
    font: bold 4vw/4vw Muli;
    margin: 1% 0 2%;
  }

  .input {
    width: 90%;
    margin-top: 2%;
    padding: 3%;
  }

  .login {
    margin: 8% 0;
  }

  .prepare {
    font: normal normal bold 5vw/6vw Poppins;
    margin-top: 7%;
  }

  .block {
    flex-direction: column;
  }

  .plataformaInterativa {
    width: 80%;
    height: 250px;
  }
  
  .plataformaInterativaTitle {
    font: normal normal 800 7vw/10vw Poppins;
  }
  
  .plataformaInterativaText {
    font: normal normal bold 4.4vw/6.4vw Muli;
  }
  
  .aguardeOMatch {
    width: 80%;
    height: 250px;
  }
  
  .aguardeOMatchTitle {
    font: normal normal 800 7vw/10vw Poppins;
  }
  
  .aguardeOMatchText {
    font: normal normal bold 4.4vw/6.4vw Muli;
  }
  
  .mentorias {
    width: 80%;
    height: 250px;
  }
  
  .mentoriasTitle {
    font: normal normal 800 7vw/10vw Poppins;
  }
  
  .mentoriasText {
    font: normal normal bold 4.4vw/6.4vw Muli;
  }

  .comece {
    margin: 10% 0;
  }
}
